<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<title>Bump4u</title>

<section class="hero is-info">
    <div class="hero-head">
        <div class="container">
            <div class="is-paddingless">
                <nav class="navbar">
                    <div class="navbar-brand">
                        <div class="navbar-item">
                            <h1 class="title">
                                <a href="/" class="has-text-white">Bump4u</a>
                            </h1>                        
                        </div>
                    </div>
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item" href="/">Home</a>
                            <a class="navbar-item" href="/update-password">Update password</a>
                            <a class="navbar-item" href="/logout">Logout</a>
                        </div>
                    </div>            
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="notification is-{{ category }}" id="banner">    
                    <b>{{ message }}</b>
                </div>
            {% endfor %}
        {% endwith %}

        <div class="content ">
            <h1>Update password</h1>

            <p>Password is solely for login purpose, for you to manage your bump bot activity.</p>
            
            <form method="POST" action="/update-db-password">
                <div class="field">
                    <div class="control">
                        <input class="input" type="password" name="old_password" placeholder="Old password" value="{{ oldpassword }}" {% if oldpassword %} readonly="readonly" {% endif %} /> <br/>                    
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" type="password" name="password" placeholder="New password" />
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" type="password" name="password_again" placeholder="New password again" /> <br/>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="button is-info" type="submit" name="submit" value="Change password" />
                        <a href="/" class="button">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>